@media (min-width: 768px) {
    #menu-toggle {
        display: none;
    }

    nav {
        display: block;
        width: auto;
    }

    nav ul {
        display: flex;
        gap: 1rem;
        padding-top: 0;
    }

    nav a {
        padding: 0.5rem 1rem;
        border-radius: 4px;
    }

    footer {
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
    }

    .list .member-card {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 1fr;
        align-items: center;
    }
}