@media (min-width: 640px) {
    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
    }

    .navigation ul {
        display: flex;
        justify-content: center;
    }

    .navigation li {
        flex: 1 1 100%;
    }

    .top-grid {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 1.5rem;
    }

    .course-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}